## Livability & Affordability

### Import Libraries

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

### Inspect datasets

In [23]:
liveable_count = pd.read_csv('../data/curated/liveable_count.csv')
liveable_count.head()

,sa2_name,independent_school_count,station_count,hospital_count,parkres_count,recreation_facilities_count,shopping_centres_count,extracted_price,crime_frequency,total_value_lost,total_items_lost,ERP_2021,crime_rate_per_1000,avg_cbd_distance_km,liveability_index
0,Caulfield - North,1.000000,0.875,0.666667,0.0000,0.052083,0.1,0.403594,1165.0,15116873.32,21260.0,22723.0,0.003671,0.177991,0.329992
1,Camberwell,0.555556,1.000,0.666667,0.0000,0.000000,0.1,0.453309,644.0,19190532.02,22268.0,21500.0,0.002145,0.211755,0.300698
2,Richmond - North,0.333333,0.625,0.833333,0.0250,0.783333,0.1,0.410520,1573.0,30116731.05,52839.0,14074.0,0.008004,0.067844,0.291447
3,Hawthorn East,0.666667,0.625,0.833333,0.0000,0.070833,0.0,0.405218,587.0,12070259.75,14360.0,15881.0,0.002647,0.176793,0.272899
4,Richmond (South) - Cremorne,0.555556,0.625,0.833333,0.0125,0.000000,0.0,0.478403,0.0,0.00,0.0,17977.0,0.000000,0.076838,0.270735

In [24]:
affordable_count = pd.read_csv('../data/curated/sa2_affordability_scores.csv')

# Rename a single column
affordable_count = affordable_count.rename(columns={'Affordability_Score': 'affordable_index'})

affordable_count.head()

,sa2_code,sa2_name,Median,extracted_price,ERP_2021,OCC_2021,population_density_persons_per_km2_2023,Gini coefficient,IPR,HPI,PDI,GII,affordable_index
0,209031210,Hurstbridge,57348.0,435.000000,7152.0,1.980000,237.8,0.440,1.000000,0.978410,0.097015,0.823188,0.795245
1,213051579,Manor Lakes - Quandong,60503.0,496.478261,744579.0,66.874434,166.6,0.392,0.896324,0.995038,0.138735,0.962319,0.781020
2,209041225,Whittlesea,54522.0,510.467742,667306.0,60.254972,47.1,0.434,0.739757,0.994995,0.492262,0.840580,0.776912
3,213051590,Wyndham Vale - South,53299.0,446.692308,178152.0,12.745648,2801.4,0.398,0.869859,0.996662,0.007682,0.944928,0.742971
4,213051468,Werribee - West,56515.0,497.649485,2201124.0,92.512976,220.5,0.398,0.810010,0.999286,0.104675,0.944928,0.739218

### Merge datasets

In [25]:
full_index = pd.merge(affordable_count, liveable_count, on='sa2_name', how='outer')

# Fill any NaN values with 0 for counting purposes
full_index.fillna(0, inplace=True)

full_index.head()

,sa2_code,sa2_name,Median,extracted_price_x,ERP_2021_x,OCC_2021,population_density_persons_per_km2_2023,Gini coefficient,IPR,HPI,...,recreation_facilities_count,shopping_centres_count,extracted_price_y,crime_frequency,total_value_lost,total_items_lost,ERP_2021_y,crime_rate_per_1000,avg_cbd_distance_km,liveability_index
0,206071139.0,Abbotsford,71394.0,699.903846,481416.0,44.603672,5750.1,0.440,0.689818,0.994786,...,0.0000,0.0,0.411708,677.0,10978545.92,18992.0,9258.0,0.005237,0.073584,0.185316
1,210011226.0,Airport West,62051.0,639.285714,173040.0,19.431258,2275.6,0.410,0.638423,0.993039,...,0.0000,0.1,0.376050,649.0,10353037.32,13692.0,8240.0,0.005640,0.245336,0.054380
2,206051128.0,Albert Park,73107.0,722.200000,720495.0,38.027925,3606.9,0.606,0.681736,0.998330,...,0.1375,0.0,0.424824,0.0,0.00,0.0,16011.0,0.000000,0.067781,0.144911
3,0.0,Alexandra,0.0,0.000000,0.0,0.000000,0.0,0.000,0.000000,0.000000,...,0.0000,0.0,0.000000,0.0,0.00,0.0,6771.0,0.000000,0.000000,0.000000
4,0.0,Alfredton,0.0,0.000000,0.0,0.000000,0.0,0.000,0.000000,0.000000,...,0.0000,0.0,0.000000,0.0,0.00,0.0,16841.0,0.000000,0.000000,0.000000

### Livability & Affordability Metric

In [26]:
#calculate the liveability and affordability of suburb
full_index['index'] = full_index['affordable_index'] * 0.5 + full_index['liveability_index'] * 0.5

#sort index
full_index = full_index.sort_values(by='index',ascending=False)
full_index = full_index[['sa2_name','index']]

full_index.head(10)

                        sa2_name     index
380            Prahran - Windsor  0.479205
390             Richmond - North  0.470320
66                Brunswick West  0.466061
218             Hawthorn - South  0.461693
93             Caulfield - North  0.458729
389  Richmond (South) - Cremorne  0.457617
158               East Melbourne  0.452619
219                Hawthorn East  0.445785
414          Seddon - Kingsville  0.440881
347              North Melbourne  0.439757