## Livability & Affordability

### Import Libraries

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

### Inspect datasets

In [36]:
liveable_count = pd.read_csv('../data/curated/liveable_count.csv')
liveable_count.head()

,sa2_name,independent_school_count,station_count,hospital_count,parkres_count,recreation_facilities_count,shopping_centres_count,extracted_price,crime_frequency,total_value_lost,total_items_lost,ERP_2021,crime_rate_per_1000,avg_cbd_distance_km,liveability_index
0,Caulfield - North,1.000000,0.875,0.666667,0.0000,0.052083,0.1,0.403594,1165.0,15116873.32,21260.0,22723.0,0.003671,0.177991,0.329992
1,Camberwell,0.555556,1.000,0.666667,0.0000,0.000000,0.1,0.453309,644.0,19190532.02,22268.0,21500.0,0.002145,0.211755,0.300698
2,Richmond - North,0.333333,0.625,0.833333,0.0250,0.783333,0.1,0.410520,1573.0,30116731.05,52839.0,14074.0,0.008004,0.067844,0.291447
3,Hawthorn East,0.666667,0.625,0.833333,0.0000,0.070833,0.0,0.405218,587.0,12070259.75,14360.0,15881.0,0.002647,0.176793,0.272899
4,Richmond (South) - Cremorne,0.555556,0.625,0.833333,0.0125,0.000000,0.0,0.478403,0.0,0.00,0.0,17977.0,0.000000,0.076838,0.270735

In [37]:
affordable_count = pd.read_csv('../data/curated/affordability_scored.csv')

# Rename a single column
affordable_count = affordable_count.rename(columns={'score': 'affordable_index'})

affordable_count.head()

,sa2_name,sa2_code,extracted_price,Median_Income,Beds,Population,property_count,Median_Rent,availability,affordable_index
0,Warrandyte - Wonga Park,211021262.0,1700.0,0.600137,1.000000,0.001209,0.000000,1.000000,0.005267,0.300527
1,Melbourne CBD - North,206041504.0,630.0,0.000000,0.056122,1.000000,1.000000,0.694445,0.001180,0.272284
2,Flemington Racecourse,206041120.0,700.0,0.512179,0.142857,0.000000,0.005277,0.256560,1.000000,0.188338
3,Clayton (North) - Notting Hill,212051567.0,530.0,0.060212,0.100840,0.105795,0.176781,0.444587,0.003686,0.168119
4,Melbourne CBD - West,206041505.0,627.5,0.194108,0.032011,0.757566,0.815303,0.422576,0.001459,0.165975

### Merge datasets

In [38]:
full_index = pd.merge(affordable_count, liveable_count, on='sa2_name', how='outer')

# Fill any NaN values with 0 for counting purposes
full_index.fillna(0, inplace=True)

full_index.head()

,sa2_name,sa2_code,extracted_price_x,Median_Income,Beds,Population,property_count,Median_Rent,availability,affordable_index,...,recreation_facilities_count,shopping_centres_count,extracted_price_y,crime_frequency,total_value_lost,total_items_lost,ERP_2021,crime_rate_per_1000,avg_cbd_distance_km,liveability_index
0,Abbotsford,206071139.0,670.0,0.804864,0.109890,0.063477,0.134565,0.107658,0.005368,0.032611,...,0.0000,0.0,0.411708,677.0,10978545.92,18992.0,9258.0,0.005237,0.073584,0.185316
1,Airport West,210011226.0,580.0,0.627065,0.387755,0.021661,0.052770,0.105869,0.006793,0.004251,...,0.0000,0.1,0.376050,649.0,10353037.32,13692.0,8240.0,0.005640,0.245336,0.054380
2,Albert Park,206051128.0,650.0,0.837463,0.077922,0.092560,0.116095,0.084050,0.002192,0.026047,...,0.1375,0.0,0.424824,0.0,0.00,0.0,16011.0,0.000000,0.067781,0.144911
3,Alexandra,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0000,0.0,0.000000,0.0,0.00,0.0,6771.0,0.000000,0.000000,0.000000
4,Alfredton,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0000,0.0,0.000000,0.0,0.00,0.0,16841.0,0.000000,0.000000,0.000000

### Livability & Affordability Metric

In [39]:
#calculate the liveability and affordability of suburb
full_index['index'] = full_index['affordable_index'] * 0.5 + full_index['liveability_index'] * 0.5

#sort index
full_index = full_index.sort_values(by='index',ascending=False)
full_index = full_index[['sa2_name','index']]

full_index.head(10)

                             sa2_name     index
289             Melbourne CBD - North  0.217814
451  Surrey Hills (West) - Canterbury  0.196243
85                            Carlton  0.184851
93                  Caulfield - North  0.181043
60                      Brighton East  0.173939
28                       Balwyn North  0.166508
81                         Camberwell  0.164747
59                    Brighton (Vic.)  0.163397
390                  Richmond - North  0.162751
54                           Box Hill  0.157977